body {
  margin: 0;
}

#button-container {
  width: 5.5em;
  margin: 0;
  padding: 0;
}

button {
  display: block;
  text-align: left;
  width: 100%;
  line-height: 1.2em;
  font-weight: bold;
  background-color: rgb(0, 0, 0);
  color: #eee;
}

button:hover {
  background-color: rgb(56, 56, 56);
}
/* Add checkmark emoji for the selected preferred quality */
#current::after {
  content: "\02714 \0fe0f";
}
